.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  cursor: grab;
  top: 0px;
  left: 0px;
}
canvas {
  width: 1200px;
  height: 567px;
  background-color: black;
  text-align: start;
  display: inline;
}
.text{
  right: 10px;
}
.button{
  display: block;
}
.canvas{
  display: inline;
}
.audio{
  display: inline;
}